<div class="six-titles">
  <div class="titles">
    <div
      class="manga"
      *ngFor="
        let manga of allManga
          | paginate : { itemsPerPage: 6, currentPage: page }
      "
    >
      <div class="overlay">
        <img src="{{ manga.img }}" alt="" />

        <p style="text-transform: uppercase; font-weight: 700">
          <i class="pi pi-book"></i> Start Reading
        </p>
      </div>
    </div>
    <pagination-controls
      (pageChange)="page = $event"
      class="paginator"
      [hidden]="true"
    ></pagination-controls>
  </div>
  <div class="btn-titles">
    <button>View More</button>
  </div>
</div>
