@import "src/styles.scss";

.six-titles {
  margin-top: 50px;
  width: 100%;
  height: 28vw;
  background-color: var(--bg-block);
  border-radius: 10px;

  .titles {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80%;

    .manga {
      border-radius: 10px;
      transition: 0.2s all;
      display: flex;
      align-items: center;
      justify-content: center;
      .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(11.5vw + 20px);
        height: calc(17vw + 40px);
        background-color: none;
        border-radius: 10px;
        transition: 0.3s all;
        animation-duration: 0.3s;
        cursor: pointer;
        flex-direction: column;
        color: var(--bg-block);

        img {
          width: 11.5vw;
          height: 17vw;
          border-radius: 10px;
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        p {
          margin: 0;
          margin-top: 5px;
          user-select: none;
        }
      }
      .overlay:hover {
        background-color: white;
      }
      .overlay:active {
        transform: translateY(20px);
      }
    }
  }

  .btn-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;

    button {
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      background-color: var(--bg-button);
      width: 150px;
      height: 50px;
      border-radius: 10px;
      transition: 0.3s all;
      text-transform: uppercase;
      font-family: "Rubik", sans-serif;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    button:hover {
      transform: scale(1.05);
    }
    button:active {
      transform: translateY(20px);
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1500px) {
  .six-titles {
    height: 85vw;
    padding-top: 40px;

    .titles {
      grid-template-columns: 32% 32% 32%;
      height: 90%;
      .manga {
        .overlay {
          width: calc(20.5vw + 20px);
          height: calc(32vw + 40px);
          img {
            width: 20.5vw;
            height: 32vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 557px) and (max-width: 900px) {
  .six-titles {
    height: 440vw;
    .titles {
      grid-template-columns: 75%;
      gap: 20px;
      height: 96%;
      .manga {
        .overlay {
          width: calc(40vw + 20px);
          height: calc(60vw + 40px);
          img {
            width: 40vw;
            height: 60vw;
          }
        }
      }
    }
    .btn-titles {
      height: 4%;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 557px) {
  .six-titles {
    height: 500vw;
    .titles {
      grid-template-columns: 75%;
      gap: 20px;
      height: 96%;
      .manga {
        .overlay {
          width: calc(40vw + 20px);
          height: calc(60vw + 40px);
          img {
            width: 40vw;
            height: 60vw;
          }
        }
      }
    }
    .btn-titles {
      height: 4%;
    }
  }
}
