@import "src/styles.scss";

.book {
  width: 100%;
  .backBtn {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 30px 0px 30px;
    background-color: var(--bg-button);
    z-index: 10;
    .Btn {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: rgba(80, 70, 70, 0);
      transition: 0.2s all;
      cursor: pointer;
    }
    .Btn:hover {
      background-color: rgba(80, 70, 70, 100);
    }
    .Btn:active {
      transform: translateY(10px);
    }

    .head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .custom-select-wrapper {
          position: relative;
          width: 120px;
          margin-left: 3vw;
          cursor: pointer;
          border-radius: 5px;
          background-color: var(--bg-redbtnOpen);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        .chapters {
          position: relative;
          width: 120px;
          margin-left: 3vw;
          cursor: pointer;
          border-radius: 5px;
          background-color: var(--bg-redbtnOpen);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        .selected-option {
          padding: 10px;
          border-radius: 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .options {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: var(--bg-redbtnClose);
          border-top: none;
          border-radius: 0 0 5px 5px;
          max-height: 300px;
          overflow-y: auto;
          display: none;

          .option {
            padding: 10px;
            transition: 0.2s all;
          }

          .option:hover {
            background-color: #b24949;
          }
          .option:active {
            transform: scale(1.1);
          }
        }

        .options.open {
          display: block;
        }
      }

      button {
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        background-color: var(--bg-redbtnOpen);
        color: white;
        border-radius: 10px;
        transition: 0.2s all;
        cursor: pointer;
      }
      button:hover {
        background-color: var(--bg-redbtnClose);
      }
      button:active {
        transform: translateY(10px);
      }
    }
  }
  .book_window {
    display: flex;
    height: 100%;
    min-height: 1200px;
    justify-content: center;
    align-items: center;
    .photos {
      max-width: calc(110vw - 50px);
      max-height: calc(110vh - 50px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
      margin-bottom: 200px;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      button {
        position: absolute;
        cursor: pointer;
        z-index: 5;
        width: 50%;
        height: 90%;
        border: none;
        outline: none;
        background-color: rgba(250, 235, 215, 0);
      }
      .left {
        margin-left: -50%;
      }
      .right {
        margin-left: 50%;
      }
    }
  }

  .preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.pagination {
  display: none;
}
