<div class="overlay_blured hidden" (click)="hideSearch()"></div>
<div class="search_block">
  <div class="search-field">
    <div class="find">
      <div class="find_icon">
        <i class="pi pi-search" style="font-size: 1.5rem"></i>
      </div>
      <input
        class="search"
        type="text"
        placeholder="Find the title"
        (click)="ClickOnSearch()"
        (input)="onInputChange()"
      />
      <div class="result hidden">
        <div *ngFor="let name of names">
          <div (click)="getMangaByName(name)" routerLink="currentManga">
            {{ name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="filters" (click)="op.toggle($event)">
    <img
      src="https://i.postimg.cc/Jh4KC3vH/icons8-sorting-96.png"
      alt=""
    />Sorting
  </button>
  <p-overlayPanel #op>
    <div class="filter_block">
      <h4>Sort by genre</h4>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="shonen"
          class="filt"
          (click)="filterList('shonen')"
        />
        <label for="contactChoice1">Shonen</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="seinen"
          class="filt"
          (click)="filterList('seinen')"
        />
        <label for="contactChoice1">Seinen</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="action"
          class="filt"
          (click)="filterList('action')"
        />
        <label for="contactChoice1">Action</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="fantasy"
          class="filt"
          (click)="filterList('fantasy')"
        />
        <label for="contactChoice1">Fantasy</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="dark-fantasy"
          class="filt"
          (click)="filterList('dark-fantasy')"
        />
        <label for="contactChoice1">Dark Fantasy</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="detective"
          class="filt"
          (click)="filterList('detective')"
        />
        <label for="contactChoice1">Detective</label>
      </div>
    </div>
    <div class="filter_block">
      <h4>Another sorting</h4>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="all"
          class="filt"
          (click)="filterList('all')"
        />
        <label for="contactChoice1">All</label>
      </div>
      <div>
        <input
          type="radio"
          id="contactChoice1"
          name="contact"
          value="rating"
          class="filt"
          (click)="filterList('rating')"
        />
        <label for="contactChoice1">Rating</label>
      </div>
    </div>
  </p-overlayPanel>
</div>
<div class="titles">
  <div
    class="manga"
    *ngFor="
      let manga of sortedManga
        | paginate : { itemsPerPage: countOfTitles, currentPage: page }
    "
  >
    <div class="overlay">
      <img
        src="{{ manga.img }}"
        alt=""
        routerLink="currentManga"
        (click)="setManga(manga)"
      />

      <p style="text-transform: uppercase; font-weight: 700">
        <i class="pi pi-book"></i> Start Reading
      </p>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls class="paginator" [hidden]="false"></pagination-controls>
  <button (click)="showMore()">
    <i class="pi pi-angle-down" style="font-size: 2rem"></i>
  </button>
  <button (click)="showLess()">
    <i class="pi pi-angle-up" style="font-size: 2rem"></i>
  </button>
</div>
