@import "src/styles.scss";
@import "src/app/components/main/promo/promo.component.scss";

.overlay_blured {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.filter_block {
  div {
    display: flex;
    align-items: center;
    margin: 5px;
    label {
      font-family: "Rubik", sans-serif;
      margin-left: 10px;
    }
    .filt:after {
      background-color: var(--bg-button);
    }
    .filt {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: 0.2s all;
      accent-color: var(--bg-redbtnOpen);
    }
    .filt:active {
      transform: translateY(10px);
    }
  }
}

.hidden {
  display: none;
}

.search_block {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;

  .search-field {
    z-index: 5;
    .find {
      width: 43vw;
      height: 60px;
      border-radius: 10px;
      display: flex;
      flex-wrap: nowrap;

      .find_icon {
        min-width: 60px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-button);
        border-radius: 10px 0px 0px 10px;
        cursor: pointer;
      }
      input {
        width: 40vw;
        height: 60px;
        border-radius: 0px 10px 10px 0px;
        padding-left: 20px;
        font-size: 18px;
        font-family: "Rubik", sans-serif;
        color: white;
        background-color: var(--bg-block);
        outline: none;
        border: none;
      }
      .result {
        position: absolute;
        margin-top: 60px;
        margin-left: 60px;
        background-color: var(--bg-button);
        border-radius: 0px 0px 10px 10px;
        overflow-y: auto;
        max-height: 195px;
        width: 38vw;
        // padding-bottom: 10px;
        div {
          width: 40vw;
          padding: 10px;
          cursor: pointer;
          border-radius: 10px;
          transition: 0.2s all;
        }
        div:hover {
          background-color: var(--bg-block);
        }
        div:active {
          transform: translateY(10px);
        }
      }
    }
  }
  .filters {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-redbtnOpen);
    color: white;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;

    img {
      width: 30px;
      height: auto;
      margin-right: 20px;
    }
  }

  .filters:hover {
    transform: scale(1.05);
  }
  .filters:active {
    transform: translateY(20px);
  }

  .filter_block {
    display: flex;
    flex-direction: column;
  }
}

.titles {
  width: 100%;
  // height: 40vw;
  padding-top: 50px;
  background-color: var(--bg-block);
  border-radius: 10px 10px 0px 0px;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .manga {
    border-radius: 10px;
    transition: 0.2s all;
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(11.5vw + 20px);
      height: calc(17vw + 40px);
      background-color: none;
      border-radius: 10px;
      transition: 0.3s all;
      animation-duration: 0.3s;
      cursor: pointer;
      flex-direction: column;
      color: var(--bg-block);

      img {
        width: 11.5vw;
        height: 17vw;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }

      p {
        margin: 0;
        margin-top: 5px;
        user-select: none;
      }
    }
    .overlay:hover {
      background-color: white;
    }
    .overlay:active {
      transform: translateY(20px);
    }
  }
}

.pagination {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-block);
  border-radius: 0px 0px 10px 10px;
  gap: 20px;

  button {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-redbtnOpen);
    color: white;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
  }

  button:hover {
    transform: scale(1.05);
  }
  button:active {
    transform: translateY(20px);
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1980px) {
  .titles {
    // height: 50vw;
    grid-template-columns: 18% 18% 18% 18% 18%;
    .manga {
      .overlay {
        width: calc(12.5vw + 20px);
        height: calc(20vw + 40px);
        img {
          width: 12.5vw;
          height: 20vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .titles {
    // height: 80vw;
    grid-template-columns: 32% 32% 32%;
    .manga {
      .overlay {
        width: calc(20.5vw + 20px);
        height: calc(32vw + 40px);
        img {
          width: 20.5vw;
          height: 32vw;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
  .titles {
    // height: 80vw;
    grid-template-columns: 32% 32% 32%;
    .manga {
      .overlay {
        width: calc(20.5vw + 20px);
        height: calc(32vw + 40px);
        img {
          width: 20.5vw;
          height: 32vw;
        }
      }
    }
  }
}
@media only screen and (min-width: 557px) and (max-width: 900px) {
  .search_block {
    .search-field {
      .find {
        width: 33vw;
        height: 50px;

        .find_icon {
          width: 3vw;
          height: 50px;
        }
        input {
          width: 30vw;
          height: 50px;
          font-size: 15px;
        }
      }
    }
    .filters {
      height: 50px;
      font-size: 13px;
      img {
        margin-right: 10px;
      }
    }
  }

  .titles {
    // height: 440vw;
    grid-template-columns: 75%;
    .manga {
      .overlay {
        width: calc(40vw + 20px);
        height: calc(60vw + 40px);
        img {
          width: 40vw;
          height: 60vw;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 557px) {
  .search_block {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0;
    gap: 80px;
    justify-content: start;
    .search-field {
      display: block;
      .find {
        width: 40vw;
        height: 50px;

        .find_icon {
          width: 3vw;
          height: 50px;
        }
        input {
          width: 40vw;
          height: 50px;
          font-size: 15px;
        }
      }
    }
    .filters {
      height: 50px;
      width: 100px;
      font-size: 13px;
      img {
        margin-right: 10px;
      }
    }
  }

  .titles {
    grid-template-columns: 75%;
    .manga {
      .overlay {
        width: calc(60vw + 20px);
        height: calc(85vw + 40px);
        img {
          width: 60vw;
          height: 85vw;
        }
      }
    }
  }
}

::ng-deep {
  * {
    box-sizing: unset;
  }
  .p-overlaypanel {
    background-color: var(--bg-button) !important;
    color: white !important;
    width: 200px !important;
    padding: 10px !important;
  }
  .p-overlaypanel .p-overlaypanel-content {
    padding: 0px !important;
  }
  .p-overlaypanel:before,
  .p-overlaypanel:after {
    display: none;
  }

  .ngx-pagination {
    display: none !important;
  }
}
