<div class="userPage" *ngIf="page === 'user'">
  <div class="userPanel" *ngIf="user === 'none'">
    <img src="https://i.postimg.cc/sX9HJL8d/Requiem.png" alt="" class="logo" />
    <p>To be able to read manga, you must be logged in.</p>
    <button (click)="changePage('log')">LogIn</button>
    or
    <button (click)="changePage('reg')">Registration</button>
  </div>
  <div class="userPanel" *ngIf="user === 'logged_user'">
    <img src="{{ loggedUser.photo }}" alt="" class="user_logo" />
    <h3>{{ loggedUser.name }}</h3>
    <h3>{{ loggedUser.email }}</h3>
    <button (click)="changePage('edit')">Edit</button>
    or
    <button (click)="LogOut()">LogOut</button>
  </div>
</div>

<div class="registration" *ngIf="page === 'reg'">
  <app-registration (BackFunc)="changePage($event)"></app-registration>
</div>

<div class="login" *ngIf="page === 'log'">
  <app-login (BackFunc)="changePage($event)"></app-login>
</div>

<div class="edit" *ngIf="page === 'edit'">
  <app-edit (BackFunc)="changePage($event)"></app-edit>
</div>
