@import "src/styles.scss";
.registration {
  height: 100%;
  width: 500px;
  height: 800px;
  background-color: var(--bg-block);
  border-radius: 10px;
  display: flex;

  .btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-redbtnOpen);
    color: white;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;
  }
  .btn:hover {
    transform: scale(1.05);
  }
  .btn:active {
    transform: translateY(20px);
  }

  .close {
    width: 10%;
    min-width: 80px;
    background-color: var(--bg-button);
    border-radius: 10px 0px 0px 10px;

    button {
      margin: 20px;
      background-color: rgba(155, 155, 155, 0);
      outline: none;
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s all;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button:hover {
      background-color: rgb(155, 155, 155);
    }
    button:active {
      transform: translateY(20px);
    }
  }

  .content {
    width: 90%;
    .logo {
      width: 100%;
      height: 25%;
      padding: 30px;
      display: flex;
      align-items: center;
      gap: 25px;

      .photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgb(155, 155, 155);
        border: 3px solid var(--bg-button);
      }

      .input_file {
        color: transparent;
        width: 150px;
        height: 80px;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.2s all;
      }
      .input_file::-webkit-file-upload-button {
        visibility: hidden;
      }
      .input_file::before {
        content: "Upload Logo";
        display: inline-block;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        font-size: 15px;
        background-color: var(--bg-redbtnOpen);
        border-radius: 10px;
        color: white;
        transition: all 0.1s;
        margin-top: 20px;
        margin-bottom: 10px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
      }
      .input_file:hover {
        transform: scale(1.05);
      }
      .input_file:active {
        transform: translateY(20px);
      }
    }

    .fields {
      width: 100%;
      height: 75%;
      padding: 30px;
      display: flex;

      .inputs {
        flex-direction: column;
        display: flex;
        .inp_group {
          h4 {
            text-transform: uppercase;
          }
          input {
            width: 350px;
            height: 40px;
            outline: none;
            border: 2px solid;
            border-color: var(--bg-button);
            border-radius: 5px;
            font-family: "Rubik", sans-serif;
            background-color: var(--bg-color);
            color: white;
            font-weight: 600;
          }
        }

        .btn_section {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 557px) {
  .registration {
    margin-top: 50px;
    width: 300px;

    .close {
      min-width: 40px;

      button {
        margin: 0;
      }
    }

    .content {
      .logo {
        display: block;
      }

      .fields {
        margin-top: 10px;
        .inputs {
          .inp_group {
            input {
              width: 200px;
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .p-sidebar-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
