@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  scroll-behavior: smooth;
}

body {
  --bg-color: #232020;
  --bg-sidebar: #292929;
  --bg-block: #2d2a2a;
  --bg-button: #404040;
  --bg-feedback: #6df87b;
  --bg-redbtnOpen: #c62323;
  --bg-redbtnClose: #8f4b4b;
  --bg-input: rgb(187, 224, 131);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Rubik", sans-serif;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

::-webkit-scrollbar {
  display: none;
}
