@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  scroll-behavior: smooth;
}

body {
  --bg-color: #232020;
  --bg-sidebar: #292929;
  --bg-block: #2d2a2a;
  --bg-button: #404040;
  --bg-feedback: #6df87b;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Rubik", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
