<div class="btn_back">
  <i
    class="pi pi-arrow-left"
    style="color: rgb(255, 255, 255)"
    (click)="goBack('details')"
  ></i>
</div>
<div class="frames_page">
  <div class="all_frames">
    <div
      *ngFor="
        let r of loggedUser.favorite
          | paginate : { itemsPerPage: countOfTitles, currentPage: page }
      "
    >
      <img src="{{ r }}" alt="" />
    </div>
  </div>
  <div class="pagination">
    <pagination-controls
      class="paginator"
      [hidden]="false"
    ></pagination-controls>
    <button (click)="showMore()">
      <i class="pi pi-angle-down" style="font-size: 2rem"></i>
    </button>
  </div>
</div>
